.cover__link {
  text-decoration: none;
   max-width: 1184px;
   width: 92.5%;
   display: block;
   margin: 0 auto 0;
 }

.cover__link:hover .cover__container::after {
  opacity: 0.8;
  transition: opacity 0.2s linear;
}

@media screen and (max-width: 1279px) {
  .cover__link {
     max-width: 1184px;
     width: 100%;
   }
}