.place__title {
  grid-area: title;
  font-style: normal;
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

@media screen and (max-width: 1023px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }

  .place:nth-child(1) .place__title {
    width: 70%;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    width: 90%;
    margin: 0 auto 0;
    text-align: center;
  }
}
  @media screen and (max-width: 320px) {
    .place__title {
      font-size: 32px;
      line-height: 35px;
      width: 90%;
      margin: 0 auto 0;
      text-align: left;
    }

    .place:nth-child(1) .place__title {
      width: 90%;
    }
}