.places {
  background-color: #2a2c2f;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  color: white;
  padding: 92px 0 0;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .places {
    padding: 68px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .places {
    padding: 63px 0 0;
  }
}