.lead {
  width: 100%;
  padding: 4.5% 0 0;
  background-color: #2a2c2f;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  color: white;
}

@media screen and (max-width: 1279px) {
  .lead {
    padding: 4.7% 0 0;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    padding: 48px 0 0;
  }
}