.lead__wrapper {
  margin: 64px auto 0;
  max-width: 984px;
  width: 76.8%;
}

@media screen and (max-width: 1279px) {
  .lead__wrapper {
    margin: 56px auto 0;
    max-width: 928px;
    width: 90.6%;
  }
}

@media screen and (max-width: 1023px) {
  .lead__wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .lead__wrapper {
    margin: 40px auto 0;
  }
}