.place__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

.place__link:hover {
  opacity: 0.8;
  transition: opacity 0.2s linear;
}

@media screen and (max-width: 767px) {
  .place__link {
    display: block;
    width: 90%;
    margin: 0 auto 0;
  }
}