.place {
  max-width: 984px;
  width: 76.87%;
  margin: 0 auto 80px;
  display: grid;
  gap:48px 40px;
  grid-template-columns: 47% 53%;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "title website"
    "image paragraph";
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .place {
    width: 90.6%;
    gap: 48px 32px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    width: 93.75%;
    max-width: 720px;
    gap: 48px 28px;
    grid-template-columns: 47% 49%;
    margin: 0 auto 73px;
  }
}

@media screen and (max-width: 767px) {

  .place {
    width: 100%;
    row-gap: 32px;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "title"
    "website"
    "image"
    "paragraph";
    margin: 0 auto 50px;
  }
}