.place {
  max-width: 984px;
  margin: 0 auto 80px;
  display: grid;
  gap:48px 40px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "title website"
    "image paragraph"
  ;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .place {
    width: 90.6%;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    width: 100%;
    gap: 48px 32px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "title"
    "website"
    "image"
    "paragraph"
  ;
  }
}