.header__wrapper {
  max-width: 1280px;
  width: 92.5%;
  padding: 28px 0 0;
  margin: 0 auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .header__wrapper {
    width: 90.6%;
  }
}

@media screen and (max-width: 767px) {
  .header__wrapper {
    width: 93.7%;
  }
}