.footer {
  width: 92.5%;
  max-width: 1184px;
  background-color: #2a2c2f;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  color: white;
  padding: 92px 0 24px;
  margin: 0 auto 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: 93.75%;
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    width: 90%;
    padding-top: 88px;
  }
}

@media screen and (max-width: 710px) {
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 424px) {
  .footer {
    padding-top: 66px;
    
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 288px;
  }
}