.footer {
  width: 92.5%;
  max-width: 1184px;
  background-color: #2a2c2f;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  color: white;
  padding: 66px 0 24px;
  margin: 0 auto 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .footer {
    padding: 9% 0 24px;
    width: 90.5%;
    min-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 11.5% 0 24px;
    width: 93.75%;
    min-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 11.5% 0 24px;
    min-width: 288px;
  }
}

@media screen and (max-width: 710px) {
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 424px) {
  .footer {
    padding: 20.3% 0 24px;
    
  }
}

@media screen and (max-width: 320px) {
  .footer {
    width: 90%;
  }
}