.place__url-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  margin: 0 0 12px 0;
  color: #AAAAAA;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .place__url-heading {
    width: 90%;
    margin: 0 auto 12px;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .place__url-heading {
    text-align: left;
  }
}