.place__url-heading {
  font-style: normal;
  font-weight: 400;
  font-style: 12px;
  line-height: 170%;
  margin: 0 0 12px 0;
}

@media screen and (max-width: 1023px) {
  .place__url-heading {
    font-style: 12px;
    line-height: 12px;
  }
}

@media screen and (max-width: 767px) {
  .place__url-heading {
    width: 90%;
    margin: 0 auto 12px;
  }
}