.place__url-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  margin: 0 0 12px 0;
  color: #AAAAAA
}

@media screen and (max-width: 767px) {
  .place__url-heading {
    width: 90%;
    margin: 0 auto 12px;
  }
}